.card-section {
    margin: 50px 0px;
}

.card-parent {
    display: flex;
    justify-content: space-between;
}


/* Card container */


.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Card image */
.card img {
    width: 100%;
    height: 250px;
}

/* Card content */
.card-content {
    padding: 20px;
}

/* Card title */
.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Card text */
.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Card button */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}

.count-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D70F64;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}